<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>edit</title>
</head>
<body>
    <form action="/pigs/<%= pig._id %>" method="post">
        <p>id: <%= pig._id %></p>
        <p>name: <input type="text" name="name" value="<%= pig.name %>"></p>
        <p>age: <input type="number" name="age" value="<%= pig.age %>"></p>
        <p>color: <input type="text" name="color" value="<%= pig.color %>"></p>
        <input type="submit" value="finish edit">
    </form>
</body>
</html>